In [1]:
import pandas as pd
import requests # for making requests to the google maps api
import json # for processing the response from google maps

In [2]:
# to retrieve api_key
with open("credentials","r") as f:
    creds = f.read()

### Schools Data

In [4]:
school_data = pd.read_csv("./data/schools/general-information-of-schools.csv")

In [6]:
# take a look at the data
school_data.head()

,school_name,url_address,address,postal_code,telephone_no,telephone_no_2,fax_no,fax_no_2,email_address,mrt_desc,...,session_code,mainlevel_code,sap_ind,autonomous_ind,gifted_ind,ip_ind,mothertongue1_code,mothertongue2_code,mothertongue3_code,special_sdp_offered
0,NATIONAL JUNIOR COLLEGE,www.nationaljc.moe.edu.sg,37 HILLCREST ROAD,288913,64661144,na,64684535,na,NJC@MOE.EDU.SG,"BOTANIC GARDENS MRT, TAN KAH KEE MRT, SIXTH AV...",...,FULL DAY,MIXED LEVEL,No,No,No,Yes,Chinese,Malay,Tamil,"For the Integrated Programme (Junior High), we..."
1,TEMASEK JUNIOR COLLEGE,http://temasekjc.moe.edu.sg,22 BEDOK SOUTH ROAD,469278,64428066,na,64428762,na,TEMASEK_JC@MOE.EDU.SG,BEDOK MRT,...,FULL DAY,MIXED LEVEL,No,No,No,Yes,Chinese,Malay,Tamil,TJC 6-Year Integrated Programme provides a sea...
2,JURONG JUNIOR COLLEGE,http://www.jurongjc.moe.edu.sg,800 CORPORATION ROAD,649809,65624611,na,65624505,na,jjc@moe.edu.sg,"Lakeside, Boon Lay",...,FULL DAY,JUNIOR COLLEGE,No,No,No,No,Chinese,Malay,Tamil,1. Experiential Learning Programmes (ELP) 2. E...
3,ANDERSON JUNIOR COLLEGE,ajc.moe.edu.sg.,4500 ANG MO KIO AVENUE 6,569843,64596822,na,64598734,na,anderson_jc@moe.edu.sg,Yio Chu Kang,...,FULL DAY,JUNIOR COLLEGE,No,No,No,No,na,na,na,"Science research, service-learning, student le..."
4,VICTORIA JUNIOR COLLEGE,http://www.victoriajc.moe.edu.sg/,20 MARINE VISTA,449035,64485011,na,64438337,na,victoria_jc@moe.edu.sg,"Nearest MRT Stations: Kembangan, Eunos",...,FULL DAY,JUNIOR COLLEGE,No,No,No,Yes,Chinese,Malay,Tamil,Arts Programme Beyond Borders Programme Highe...

In [101]:
# add singapore to the end of the address so google maps returns more relevant results
school_data["address"] = school_data.address.apply(lambda x: x+ " SINGAPORE")

In [134]:
school_data.address.head()

0           37 HILLCREST ROAD SINGAPORE
1         22 BEDOK SOUTH ROAD SINGAPORE
2        800 CORPORATION ROAD SINGAPORE
3    4500 ANG MO KIO AVENUE 6 SINGAPORE
4             20 MARINE VISTA SINGAPORE
Name: address, dtype: object

In [3]:
# this function takes an address and uses google maps api to return the latitude and longitude
def geocode(address, creds):
    resp = requests.get("https://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&key=" + creds)
    if len(resp.json()["results"]) == 0:
        return 0,0
    lat = resp.json()["results"][0]["geometry"]["location"]["lat"]
    lng = resp.json()["results"][0]["geometry"]["location"]["lng"]
    return lat,lng

In [105]:
# apply the function to the address column
coords = school_data.address.apply(lambda x: geocode(x,creds))

In [132]:
coords.head()

0    (1.3300068, 103.8044544)
1    (1.3189246, 103.9355622)
2      (1.350886, 103.713267)
3     (1.378043, 103.8457619)
4      (1.306142, 103.919825)
Name: address, dtype: object

In [146]:
# add the coordinates back to the dataframe
school_data["coords"] = coords

In [147]:
# select the useful columns
school_data_final = school_data[["school_name", "address", "coords", "mainlevel_code"]]

In [148]:
school_data_final.head()

,school_name,address,coords,mainlevel_code
0,NATIONAL JUNIOR COLLEGE,37 HILLCREST ROAD SINGAPORE,"(1.3300068, 103.8044544)",MIXED LEVEL
1,TEMASEK JUNIOR COLLEGE,22 BEDOK SOUTH ROAD SINGAPORE,"(1.3189246, 103.9355622)",MIXED LEVEL
2,JURONG JUNIOR COLLEGE,800 CORPORATION ROAD SINGAPORE,"(1.350886, 103.713267)",JUNIOR COLLEGE
3,ANDERSON JUNIOR COLLEGE,4500 ANG MO KIO AVENUE 6 SINGAPORE,"(1.378043, 103.8457619)",JUNIOR COLLEGE
4,VICTORIA JUNIOR COLLEGE,20 MARINE VISTA SINGAPORE,"(1.306142, 103.919825)",JUNIOR COLLEGE

In [149]:
# save the new dataframe to a csv
school_data_final.to_csv("./data/schools/geocoded_school_data.csv",index=False)

### Main Dataset

In [36]:
df = pd.read_csv("./data/hdb_prices/resale-flat-prices-based-on-registration-date-from-jan-2015-onwards.csv")

In [37]:
df.shape

(65251, 11)

In [38]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0
2,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0
3,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0
4,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0

In [39]:
df["full_address"] = df.block.map(str) + " " + df.street_name + " SINGAPORE"

In [40]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,full_address
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0,174 ANG MO KIO AVE 4 SINGAPORE
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0,541 ANG MO KIO AVE 10 SINGAPORE
2,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0,163 ANG MO KIO AVE 4 SINGAPORE
3,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0,446 ANG MO KIO AVE 10 SINGAPORE
4,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0,557 ANG MO KIO AVE 10 SINGAPORE

In [9]:
coords_list = []
for index, row in df.iterrows():
    try:
        coords = geocode(row.full_address, creds)
    except:
        print(index)
        coords = (0,0)
    coords_list.append([row.full_address,coords])

In [10]:
len(coords_list)

65251

In [16]:
address_df = pd.DataFrame(coords_list, columns=["full_address","coords"])

In [17]:
address_df.to_csv("./data/hdb_prices/address_coordinates.csv", index=False)

In [30]:
df["address_coords"] = address_df.coords

In [41]:
df.shape

(65251, 12)

In [32]:
df.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,full_address,address_coords
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0,174 ANG MO KIO AVE 4 SINGAPORE,"(1.3752431, 103.8374311)"
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0,541 ANG MO KIO AVE 10 SINGAPORE,"(1.373289, 103.8560821)"
2,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0,163 ANG MO KIO AVE 4 SINGAPORE,"(1.3739926, 103.8382463)"
3,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0,446 ANG MO KIO AVE 10 SINGAPORE,"(1.3678117, 103.8551856)"
4,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0,557 ANG MO KIO AVE 10 SINGAPORE,"(1.3716063, 103.8577221)"

In [33]:
df.to_csv("hdb_prices.csv",index=False)

In [47]:
pd.read_csv("./data/hdb_prices/hdb_prices.csv")

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,full_address,address_coords
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0,174 ANG MO KIO AVE 4 SINGAPORE,"(1.3752431, 103.8374311)"
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0,541 ANG MO KIO AVE 10 SINGAPORE,"(1.373289, 103.8560821)"
2,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0,163 ANG MO KIO AVE 4 SINGAPORE,"(1.3739926, 103.8382463)"
3,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0,446 ANG MO KIO AVE 10 SINGAPORE,"(1.3678117, 103.8551856)"
4,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0,557 ANG MO KIO AVE 10 SINGAPORE,"(1.3716063, 103.8577221)"
5,2015-01,ANG MO KIO,3 ROOM,603,ANG MO KIO AVE 5,07 TO 09,67.0,New Generation,1980,64,290000.0,603 ANG MO KIO AVE 5 SINGAPORE,"(1.380163, 103.8357101)"
6,2015-01,ANG MO KIO,3 ROOM,709,ANG MO KIO AVE 8,01 TO 03,68.0,New Generation,1980,64,290000.0,709 ANG MO KIO AVE 8 SINGAPORE,"(1.3711528, 103.8476668)"
7,2015-01,ANG MO KIO,3 ROOM,333,ANG MO KIO AVE 1,01 TO 03,68.0,New Generation,1981,65,293000.0,333 ANG MO KIO AVE 1 SINGAPORE,"(1.3613131, 103.8516526)"
8,2015-01,ANG MO KIO,3 ROOM,109,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,62,300000.0,109 ANG MO KIO AVE 4 SINGAPORE,"(1.3701494, 103.8376575)"
9,2015-01,ANG MO KIO,3 ROOM,564,ANG MO KIO AVE 3,13 TO 15,68.0,New Generation,1985,69,307500.0,564 ANG MO KIO AVE 3 SINGAPORE,"(1.3697651, 103.8593528)"
10,2015-01,ANG MO KIO,3 ROOM,218,ANG MO KIO AVE 1,07 TO 09,67.0,New Generation,1976,60,308000.0,218 ANG MO KIO AVE 1 SINGAPORE,"(1.3651811, 103.8415977)"
11,2015-01,ANG MO KIO,3 ROOM,556,ANG MO KIO AVE 10,10 TO 12,68.0,New Generation,1980,64,312000.0,556 ANG MO KIO AVE 10 SINGAPORE,"(1.3720459, 103.8577221)"
12,2015-01,ANG MO KIO,3 ROOM,156,ANG MO KIO AVE 4,10 TO 12,68.0,New Generation,1981,65,312000.0,156 ANG MO KIO AVE 4 SINGAPORE,"(1.3755222, 103.8397861)"
13,2015-01,ANG MO KIO,3 ROOM,471,ANG MO KIO AVE 10,07 TO 09,67.0,New Generation,1979,63,319000.0,471 ANG MO KIO AVE 10 SINGAPORE,"(1.3634808, 103.8567256)"
14,2015-01,ANG MO KIO,3 ROOM,434,ANG MO KIO AVE 10,07 TO 09,67.0,New Generation,1979,63,320000.0,434 ANG MO KIO AVE 10 SINGAPORE,"(1.3679694, 103.8532832)"
15,2015-01,ANG MO KIO,3 ROOM,560,ANG MO KIO AVE 10,07 TO 09,67.0,New Generation,1980,64,320000.0,560 ANG MO KIO AVE 10 SINGAPORE,"(1.3707919, 103.8591716)"
16,2015-01,ANG MO KIO,3 ROOM,332,ANG MO KIO AVE 1,10 TO 12,68.0,New Generation,1981,65,325000.0,332 ANG MO KIO AVE 1 SINGAPORE,"(1.3616045, 103.8519244)"
17,2015-01,ANG MO KIO,3 ROOM,421,ANG MO KIO AVE 10,01 TO 03,74.0,New Generation,1979,63,325000.0,421 ANG MO KIO AVE 10 SINGAPORE,"(1.3653349, 103.8528303)"
18,2015-01,ANG MO KIO,3 ROOM,506,ANG MO KIO AVE 8,07 TO 09,68.0,New Generation,1980,64,325000.0,506 ANG MO KIO AVE 8 SINGAPORE,"(1.3743701, 103.8487538)"
19,2015-01,ANG MO KIO,3 ROOM,631,ANG MO KIO AVE 4,07 TO 09,67.0,New Generation,1985,69,330000.0,631 ANG MO KIO AVE 4 SINGAPORE,"(1.3795379, 103.8408084)"
20,2015-01,ANG MO KIO,3 ROOM,153,ANG MO KIO AVE 5,10 TO 12,68.0,New Generation,1981,65,330000.0,153 ANG MO KIO AVE 5 SINGAPORE,"(1.3763871, 103.8422318)"
21,2015-01,ANG MO KIO,3 ROOM,442,ANG MO KIO AVE 10,10 TO 12,67.0,New Generation,1979,63,335000.0,442 ANG MO KIO AVE 10 SINGAPORE,"(1.3656873, 103.8551856)"
22,2015-01,ANG MO KIO,3 ROOM,558,ANG MO KIO AVE 10,10 TO 12,67.0,New Generation,1980,64,338000.0,558 ANG MO KIO AVE 10 SINGAPORE,"(1.3712314, 103.8591716)"
23,2015-01,ANG MO KIO,3 ROOM,212,ANG MO KIO AVE 3,10 TO 12,67.0,New Generation,1977,61,340000.0,212 ANG MO KIO AVE 3 SINGAPORE,"(1.3688441, 103.8415977)"
24,2015-01,ANG MO KIO,3 ROOM,152,ANG MO KIO AVE 5,04 TO 06,82.0,New Generation,1981,65,340000.0,152 ANG MO KIO AVE 5 SINGAPORE,"(1.376693, 103.8400579)"
25,2015-01,ANG MO KIO,3 ROOM,331,ANG MO KIO AVE 1,04 TO 06,68.0,New Generation,1981,65,341000.0,331 ANG MO KIO AVE 1 SINGAPORE,"(1.3619223, 103.8508147)"
26,2015-01,ANG MO KIO,3 ROOM,121,ANG MO KIO AVE 3,07 TO 09,67.0,New Generation,1978,62,345000.0,121 ANG MO KIO AVE 3 SINGAPORE,"(1.3697115, 103.8435905)"
27,2015-01,ANG MO KIO,3 ROOM,130,ANG MO KIO AVE 3,07 TO 09,73.0,New Generation,1979,63,350000.0,130 ANG MO KIO AVE 3 SINGAPORE,"(1.3703816, 103.8417789)"
28,2015-01,ANG MO KIO,3 ROOM,564,ANG MO KIO AVE 3,07 TO 09,82.0,New Generation,1985,69,355000.0,564 ANG MO KIO AVE 3 SINGAPORE,"(1.3697651, 103.8593528)"
29,2015-01,ANG MO KIO,3 ROOM,646,ANG MO KIO AVE 6,07 TO 09,75.0,New Generation,1980,64,355000.0,646 ANG MO KIO AVE 6 SINGAPORE,"(1.3794551, 103.8438623)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65221,2018-05,YISHUN,4 ROOM,637,YISHUN ST 61,10 TO 12,83.0,Simplified,1987,68,295000.0,637 YISHUN ST 61 SINGAPORE,"(1.420162, 103.839013)"
65222,2018-05,YISHUN,4 ROOM,644,YISHUN ST 61,01 TO 03,83.0,Simplified,1988,69,290000.0,644 YISHUN ST 61 SINGAPORE,"(1.4217481, 103.8373835)"
65223,2018-05,YISHUN,4 ROOM,715,YISHUN ST 71,01 TO 03,84.0,Simplified,1987,68,270000.0,715 YISHUN ST 71 SINGAPORE,"(1.426368, 103.826886)"
65224,2018-05,YISHUN,4 ROOM,720,YISHUN ST 71,10 TO 12,84.0,Simplified,1985,66,310000.0,720 YISHUN ST 71 SINGAPORE,"(1.4264004, 103.8288281)"
65225,2018-05,YISHUN,4 ROOM,720,YISHUN ST 71,04 TO 06,84.0,Simplified,1985,66,295000.0,720 YISHUN ST 71 SINGAPORE,"(1.4264004, 103.8288281)"
65226,2018-05,YISHUN,4 ROOM,751,YISHUN ST 72,07 TO 09,91.0,New Generation,1984,65,400000.0,751 YISHUN ST 72 SINGAPORE,"(1.427632, 103.8340275)"
65227,2018-05,YISHUN,4 ROOM,749,YISHUN ST 72,07 TO 09,91.0,New Generation,1984,65,468000.0,749 YISHUN ST 72 SINGAPORE,"(1.4284343, 103.8337157)"
65228,2018-05,YISHUN,4 ROOM,851,YISHUN ST 81,10 TO 12,104.0,Model A,1988,68,413000.0,851 YISHUN ST 81 SINGAPORE,"(1.415682, 103.836647)"
65229,2018-05,YISHUN,4 ROOM,816,YISHUN ST 81,04 TO 06,108.0,Model A,1988,69,333000.0,816 YISHUN ST 81 SINGAPORE,"(1.4117023, 103.8332645)"
65230,2018-05,YISHUN,4 ROOM,825,YISHUN ST 81,01 TO 03,103.0,Model A,1988,69,367000.0,825 YISHUN ST 81 SINGAPORE,"(1.4142715, 103.8329022)"
65231,2018-05,YISHUN,4 ROOM,868,YISHUN ST 81,01 TO 03,104.0,Model A,1987,68,300000.0,868 YISHUN ST 81 SINGAPORE,"(1.4137295, 103.8376122)"
65232,2018-05,YISHUN,5 ROOM,419,YISHUN AVE 11,07 TO 09,122.0,Improved,1993,73,426000.0,419 YISHUN AVE 11 SINGAPORE,"(1.4237554, 103.8473218)"
65233,2018-05,YISHUN,5 ROOM,864,YISHUN AVE 4,04 TO 06,122.0,Improved,1988,69,413000.0,864 YISHUN AVE 4 SINGAPORE,"(1.4165784, 103.8395144)"
65234,2018-05,YISHUN,5 ROOM,663,YISHUN AVE 4,01 TO 03,121.0,Improved,1987,68,432000.0,663 YISHUN AVE 4 SINGAPORE,"(1.4198036, 103.8398767)"
65235,2018-05,YISHUN,5 ROOM,306,YISHUN CTRL,10 TO 12,122.0,Improved,1987,68,470000.0,306 YISHUN CTRL SINGAPORE,"(1.4312467, 103.8401485)"
65236,2018-05,YISHUN,5 ROOM,786,YISHUN RING RD,07 TO 09,121.0,Improved,1987,68,425000.0,786 YISHUN RING RD SINGAPORE,"(1.421454, 103.831947)"
65237,2018-05,YISHUN,5 ROOM,799,YISHUN RING RD,04 TO 06,123.0,Improved,1987,67,490000.0,799 YISHUN RING RD SINGAPORE,"(1.419247, 103.832491)"
65238,2018-05,YISHUN,5 ROOM,812,YISHUN RING RD,01 TO 03,122.0,Improved,1987,67,480000.0,812 YISHUN RING RD SINGAPORE,"(1.417086, 103.8321348)"
65239,2018-05,YISHUN,5 ROOM,786,YISHUN RING RD,10 TO 12,121.0,Improved,1987,68,475000.0,786 YISHUN RING RD SINGAPORE,"(1.421454, 103.831947)"
65240,2018-05,YISHUN,5 ROOM,149,YISHUN ST 11,04 TO 06,123.0,Improved,1985,65,450000.0,149 YISHUN ST 11 SINGAPORE,"(1.431592, 103.8325938)"
65241,2018-05,YISHUN,5 ROOM,161,YISHUN ST 11,07 TO 09,125.0,Improved,1985,66,458000.0,161 YISHUN ST 11 SINGAPORE,"(1.4328537, 103.8329687)"
65242,2018-05,YISHUN,5 ROOM,229,YISHUN ST 21,07 TO 09,121.0,Improved,1985,66,410000.0,229 YISHUN ST 21 SINGAPORE,"(1.434889, 103.836926)"
65243,2018-05,YISHUN,5 ROOM,224,YISHUN ST 21,07 TO 09,134.0,Model A,1985,66,450000.0,224 YISHUN ST 21 SINGAPORE,"(1.4346738, 103.8351369)"
65244,2018-05,YISHUN,5 ROOM,851,YISHUN ST 81,04 TO 06,127.0,Improved,1988,68,500000.0,851 YISHUN ST 81 SINGAPORE,"(1.415682, 103.836647)"
65245,2018-05,YISHUN,5 ROOM,874,YISHUN ST 81,07 TO 09,122.0,Improved,1988,68,490000.0,874 YISHUN ST 81 SINGAPORE,"(1.4152774, 103.8363441)"
65246,2018-05,YISHUN,EXECUTIVE,791,YISHUN AVE 2,04 TO 06,141.0,Apartment,1987,68,535000.0,791 YISHUN AVE 2 SINGAPORE,"(1.420502, 103.8336268)"
65247,2018-05,YISHUN,EXECUTIVE,328,YISHUN RING RD,07 TO 09,142.0,Apartment,1988,69,528888.0,328 YISHUN RING RD SINGAPORE,"(1.4299299, 103.8429467)"
65248,2018-05,YISHUN,EXECUTIVE,352,YISHUN RING RD,10 TO 12,154.0,Maisonette,1988,69,535000.0,352 YISHUN RING RD SINGAPORE,"(1.4265211, 103.8450399)"
65249,2018-05,YISHUN,EXECUTIVE,723,YISHUN ST 71,10 TO 12,142.0,Apartment,1986,67,582888.0,723 YISHUN ST 71 SINGAPORE,"(1.426015, 103.82975)"
65250,2018-05,YISHUN,EXECUTIVE,828,YISHUN ST 81,07 TO 09,142.0,Apartment,1988,68,658000.0,828 YISHUN ST 81 SINGAPORE,"(1.4150778, 103.8329928)"